<div class="add-song">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center">Add Song</h1>
      </div>
      <div class="col-lg-6  mt-5 mb-5 mx-auto">
        <form [formGroup]="addSongForm">
          <div class="form-group" [ngClass]="{'error': songNameControl.errors && songNameControl.touched}">
            <label for="song-name">Song Name</label>
            <input type="text" class="form-control" id="song-name" placeholder="Enter song name" formControlName="songName">
          </div>
          <div class="form-group" [ngClass]="{'error': artistNameControl.errors && artistNameControl.touched}">
            <label for="artist-name">Artist Name</label>
            <input type="text" class="form-control" id="artist-name" placeholder="Enter artist name" formControlName="artistName">
          </div>
          <div class="form-group" [ngClass]="{'error': artistUrlControl.errors && artistUrlControl.touched}">
            <label for="artist-url">Artist Url</label>
            <input type="text" class="form-control" id="artist-url" placeholder="Enter artist website or page"
              formControlName="artistUrl">
          </div>
          <div class="form-group" [ngClass]="{'error': durationControl.errors && durationNameControl.touched}">
            <label for="duration">Track Duration</label>
            <input type="time" class="form-control without" id="duration" placeholder="Duration" formControlName="duration">
          </div>
          <p class="text-center">Popular tags for you</p>
          <div class="form-group checkbox-holder">
            <label for="tags" formArrayName="tags" *ngFor="let tag of addSongForm.controls.tags.controls; let i = index">
              <input type="checkbox" [formControlName]="i">
              {{ tagNames[i] }}
            </label>
          </div>
          <button type="submit" class="btn btn-primary" (click)="checkSubmit()">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
