<div class="profile">
  <app-header></app-header>
  <div class="select-holder">
    <h3>Select Language</h3>
    <select #langSelect (change)="languageSelectionChange($event)">
      <option *ngFor="let lang of languages" [value]="lang" [selected]=" lang === currentLang">{{ lang }}</option>
    </select>
  </div>
  <app-user [userLikedTracks]="likedTracks" [userLikedArtists]="likedArtists" [image]="user?.image" [name]="user?.name"
    [lastName]="user?.lastName" [userName]="user?.userName"></app-user>
</div>
