<form class="login mt-5 mb-5" *ngIf="login" [formGroup]="loginForm">
    <div class="error-msg" *ngIf="error"><h5>Invalid login</h5></div>
    <h3>Login</h3>
    <div class="form-group" [ngClass]="{'error': loginForm.controls.email.errors && loginForm.controls.email.touched}">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <div class="alert alert-warning" role="alert" *ngIf="loginForm.controls.email.errors && loginForm.controls.email.errors.email">
        Not email format
      </div>
    </div>

    <div class="form-group" [ngClass]="{'error': loginForm.controls.password.errors && loginForm.controls.password.touched}">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="loginForm.controls.password.errors && loginForm.controls.password.errors.minlength">
      Password must be between 6 and 20 characters.
    </div>

    <button type="submit" class="btn btn-primary" (click)="checkLoginUser(loginForm.value)">Submit</button>
</form>
