<form class="login mt-5 mb-5" *ngIf="login" [formGroup]="loginForm">
    <div class="error-msg" *ngIf="error"><h5>Invalid login</h5></div>
    <h3>{{ 'login.title' | translate }}</h3>
    
    <div class="form-group" [ngClass]="{'error': loginForm.controls.email.errors && loginForm.controls.email.touched}">
      <label for="email">{{ 'login.email' | translate }}</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <div class="alert alert-warning" role="alert" *ngIf="loginForm.controls.email.errors && loginForm.controls.email.errors.email">
        {{ 'login.emailError' | translate }}
      </div>
    </div>

    <div class="form-group" [ngClass]="{'error': loginForm.controls.password.errors && loginForm.controls.password.touched}">
      <label for="password">{{ 'login.password' | translate }}</label>
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="loginForm.controls.password.errors && loginForm.controls.password.errors.minlength">
      {{ 'login.passwordError' | translate }}
    </div>

    <button type="submit" class="btn btn-primary" (click)="checkLoginUser(loginForm.value)">{{ 'login.buttonText' | translate }}</button>
</form>
