<div class="user">
  <div class="container">
      <div class="row align-items-start">
        <div class="col-lg-12 mb-5 text-center">
            <a class="add-song" routerLink="/add">Add a song to wish list</a>
        </div>
        <div class="col-lg-4">
          <figure class="user-image">
            <img src="../../../assets/img/profile-photo.png" alt="profile-photo">
          </figure>
        </div>
        <div class="col-lg-8">
          <h1 class="user__name">Welcome John Doe</h1>
          <p class="user__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit minima, cum eligendi harum nobis voluptatum rem hic sint ducimus, tempore libero saepe amet aperiam architecto dolorum eveniet sapiente quam. Sequi magni rerum blanditiis rem unde porro quia voluptas cum nobis.</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-7">
          <div class="row">
            <div class="col-lg-6">
                <h3 *ngIf="userLikedTracks.length > 0">Liked tracks</h3>
                <ul class="user__liked-songs">
                  <li *ngFor="let track of userLikedTracks;">
                    {{ track.artist }} - {{ track.name }}
                  </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h3 *ngIf="userLikedArtists.length > 0">Liked artists</h3>
                <ul class="user__liked-artists">
                  <li *ngFor="let artist of userLikedArtists;">
                    {{ artist.name}}
                  </li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <ul class="user__feed">
            <li>Post</li>
            <li>Post</li>
            <li>Post</li>
            <li>Post</li>
            <li>Post</li>
            <li>Post</li>
            <li>Post</li>
            <li>Post</li>
            <li>Post</li>
            <li>Post</li>
          </ul>
        </div>
      </div>
    </div>
</div>

