<div class="home">
    <app-header></app-header>
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-lg-8">
          <app-search-form (emitFormValues)="getFormValues($event)"></app-search-form>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-8 mx-auto" *ngIf="tracks.length > 0">
            <h1>Top {{tracks.length}} songs from {{ formValues.country }}</h1>
            <ul class="top-list-tracks">
              <li *ngFor="let track of tracks; let i = index">
                  {{i+1}}.  <a [routerLink]="['/artist', track.artistId]">{{ track.artist }}</a> - 
                            <a [routerLink]="['/track', track.id]">{{ track.name }}</a>
              </li>
            </ul>
          </div>
      </div>
    </div>
</div>

