/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Raleway', sans-serif;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}